@model List<RedAndWhite.Model.Products.ProductModel>

@foreach (var product in Model)
{
    <div class="card m-1" style="width: 18rem;">
        <img src="@product.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}