@{
    ViewData["Title"] = "Home Page";
}

<!-- HEADER -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Nos dedicamos al comercio exterior</h1>
        <p class="lead">
            DESDE 1990, IMPORTANDO Y EXPORTANDO PRODUCTOS DE PRIMERA CALIDAD,
            PARA LOS ARGENTINOS.
        </p>
    </div>
</div>
<!-- Tarjetas marcas-->
<div class="container-fluid mt-3">
    <h3 class="text-white">Marcas con las que trabajamos</h3>
    <div class="d-flex flex-wrap justify-content-center pt-3">
        @Html.Partial("_BrandsList", (List<RedAndWhite.Model.Brands.BrandModel>)ViewBag.Brands)      
    </div>
</div>
