<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedAndWhite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedAndWhite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       @* <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="index.html"><img src="D:\Repos\RedAndWhite\RedAndWhite\Assets\Images" class="logo-banner" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navitation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="productos.html">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
      </ul>
    </div>
    <a href="" class="btn btn-danger text-white badge-pill mr-2" data-toggle="modal" data-target="#registrate"
      id="registrateBtn">REGISTRATE</a>
    <!-- TOOTLIP -->
    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
      title="Tienes una nueva notificación">Notificaciones <span class="badge badge-pill btn-danger">1</span>
    </button>
  </nav>*@
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RedAndWhite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
